@using POC_WhySPA.Areas.MusicSpa.Resources.Albums
<h3>Music Albums</h3>
<form class="form-inline" role="form" data-ng-submit="search()">
    <div class="form-group">
        <label for="selectGenres">@Albums.LabelGenres</label>
        <select id="selectGenres" data-ng-model="selectedGenre" class="form-control">
            <option data-ng-selected="{{genre.Key == selectedGenre}}"
                data-ng-repeat="genre in genres" value="{{genre.Key}}">{{genre.Value}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table" data-ng-table="tableParams">
    <tr data-ng-repeat="album in $data">
        <td data-title="'@Albums.HeaderTitle'"><a href="#/Edit/{{album.Id}}">{{album.Title}}</a></td>
        <td data-title="'@Albums.HeaderArtistName'">{{album.Artist.Value}}</td>
        <td data-title="'@Albums.HeaderPrice'">{{album.Price}}</td>
        <td data-title="'@Albums.HeaderGenre'">{{album.Genre}}</td>
    </tr>
</table>
