<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/ngtable")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/app")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    @Scripts.Render("~/bundles/oldIEBrowsersSupport")
    <![endif]-->
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ngtable")
    @Scripts.Render("~/bundles/app")
    <script>
        musicApp.rootUrl = "@Url.Content("~/")";
    </script>
    @RenderSection("HeadContent", false)
</head>
<body>
    @Html.Partial("Header")
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
